[buildout]
index = http://packages.lizardsystem.nl
unzip = true
prefer-final = true
versions = versions
extensions = buildout.dumppickedversions
parts =
    sysegg
    mkdir
    django
    console_scripts
    pyflakes
    apacheconf
    apachewindowsconf
    build_static
develop = .
#        local_checkouts/lizard-flooding
#        local_checkouts/lizard-base
eggs =
    flooding


[versions]
# Specific pins
flooding =
lizard-flooding = 1.13
lizard-base = 1.14
# Reported by buildout.dumppickedversions
collective.recipe.omelette = 0.9
collective.recipe.template = 1.6
distribute = 0.6.10
django-staticfiles = 0.2.0
django-treebeard = 1.60
djangorecipe = 0.20
eazysvn = 1.11.0
iso8601 = 0.1.4
nens = 1.0-r9335
networkx = 1.0.1
pep8 = 0.5.0
pyflakes = 0.4.0
z3c.recipe.mkdir = 0.3.1
zc.buildout = 1.4.4
zest.releaser = 3.6
GDAL =


[sysegg]
# Add eggs here that are best handled through OS-level packages.
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    numpy
    PIL
    matplotlib
#    simplejson
    pyproj
    GDAL


[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/static
    ${buildout:directory}/var/media
    ${buildout:directory}/var/log
    ${buildout:directory}/var/sqlite
    ${buildout:directory}/var/external_data


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
version = 1.1
wsgi = true
wsgilog = ${buildout:directory}/var/log/django.log
project = flooding
projectegg = flooding
settings = developmentsettings
test = flooding
eggs = flooding


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[apacheconf]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/flooding.apache.conf.in
output = ${buildout:directory}/etc/flooding.apache.conf


[apachewindowsconf]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/flooding.apache.windows.conf.in
output = ${buildout:directory}/etc/flooding.apache.windows.conf


[build_static]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds = ${buildout:bin-directory}/django build_static --noinput
